.about_banner {
  width: 100%;
  height: 60vh;
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about_pf60 {
  background: $green-text url("../images/section_3.png");
  padding: 6rem 1rem;
  background-size: cover;
  background-position: center;

  .about-content {
    & p {
      color: $green-text;
      line-height: 1.8;
    }
  }
}

.about_sports_partner {
  width: 80%;
  margin: 0 auto;

  & .about_sports_title {
    background-color: $green-text;
    text-align: center;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    & h4 {
      color: #fff;
      padding: 1rem 0;
      margin: 0;
    }
  }

  & .about_sports_body {
    background-color: $custom-light;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    text-align: center;

    & .about_partners_logo {
      padding: 2rem 0;
      img {
        width: 90px;
        margin: 0.4rem;
        padding: 0 0.2rem;
      }
    }

    & .about_sports_cta {
      border-top: 1px solid rgb(238, 238, 238);
      padding: 2rem;

      & .about_partner_cta {
        .custom-btn {
          @include btnPrimary($custom-light, $primary-color);

          &:hover {
            @include btnPrimaryHover($primary-color, $custom-light);
            border-color: $primary-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
