$primary-color: #dd222b;
$custom-light: #fff;

$carousel-control-color: #a72020;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 0.9;

$primary-green: #afdd3e;
$green-text: #56750a;

$primary-blue: #1bace0;
