@import "./base";
@import "./variables";
@import "./mixins";
@import "./global";
@import "./banner";
@import "./home";
@import "./about";
@import "./footer";

//NavBar
nav {
  background-color: #fff;

  & .nav-item {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  & .navbar-brand img {
    width: 100px;
  }
}
