@import "./base";
@import "./variables";
@import "./mixins";
@import "./global";
@import "./banner";
@import "./home";
@import "./about";
@import "./activities";
@import "./footer";

//NavBar
nav {
  background-color: #fff;

  & .container {
    @media (max-width: 768px) {
      justify-content: flex-end !important;
    }
  }

  @media (min-width: 992px) {
    &.navbar-expand-lg .navbar-collapse {
      flex-basis: 100% !important;
    }
  }

  & .nav-item {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  & .navbar-brand {
    @media (max-width: 768px) {
      overflow: hidden;
      margin-right: 0rem;
    }
  }

  & .navbar-brand img {
    &.logo1 {
      width: 25%;
    }

    &.logo2 {
      width: 25%;
    }

    &.logo3 {
      width: 10%;
    }

    &.logo4 {
      width: 25%;
    }
  }

  & .navbar-brand img:not(:last-child) {
    margin-right: 0.5rem;
  }
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
