@import "./base";
@import "./variables";
@import "./mixins";
@import "./global";
@import "./banner";
@import "./home";
@import "./about";
@import "./activities";
@import "./footer";

//NavBar
nav {
  background-color: #fff;

  & .nav-item {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  & .navbar-brand img {
    width: 100px;
  }
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
